In [43]:
# back calculation
#####################



import time  # to simulate a real time data, time loop
import yfinance as yf
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import yahoo_fin.stock_info as si
import numpy as np  # np mean, np random
import pandas as pd  # read csv, df manipulation
import plotly.express as px  # interactive charts
import streamlit as st  # ðŸŽˆ data web app development
import datetime
from datetime import date
import plotly.express as px




##########################


def calculate_recom(stock_id, current_date):

    #current_date = datetime.datetime.now()
    # 5 weeks
    pred_day = current_date - datetime.timedelta(days=35)

    sdate = current_date.strftime('%Y-%m-%d')
    pred_day = pred_day.strftime('%Y-%m-%d')

    df1 = yf.download(
                    tickers = stock_id,
                    start=pred_day,
                    #end=date.today().replace(day=2),
                    end = sdate,
                    interval = "1d",
                    threads=True,
                    group_by = 'ticker', 
                    progress=False
                )
    
    #print(df1.tail(3))
    #print('############')
    #print(current_date)
    #print('!!!!!!!!!!!!!!!!############!!!!!!!!!!!!!!!!')



    
    #if (df1.index[-1] == current_date - datetime.timedelta(days=1)) | (df1.index[-1] == current_date - datetime.timedelta(days=3)):
    #    pass
    #else: return (sdate, np.NaN )


    df1 = df1[['Adj Close', 'Volume']]
    df1.columns = ['Price', 'Vol']

    df1 = df1[df1['Vol'] != 0]



    df1['P5'] = df1['Price'].shift(5)
    df1['V5'] = df1['Vol'].shift(5)

    df1['PC'] = df1['Price'] - df1['P5']
    df1['VC'] = df1['Vol'] - df1['V5']

    #df1['N50'] = nifty['Adj Close']

    df1 = df1.dropna()

    #st.dataframe(df1)

    l1 = []

    l1 = list(df1.resample('7D')['VC'].mean().tail(5))
    #st.write(l1)
    recom = round((sum([i for i in l1 if i >= 0 ]) / sum([abs(number) for number in l1]))*100)
    
    return (sdate, recom)

def get_recoms(stock_id):
    recoms = []
    sdate = datetime.datetime(2016, 1, 1)
    edate = datetime.datetime(2024, 1, 31)
    from datetime import date, timedelta

    days = [sdate+timedelta(days=x) for x in range((edate-sdate).days)]


    for d in days:
        if d.weekday() < 5:
            recoms.append(calculate_recom(stock_id, d))

    return recoms



def write_df(stock_id, df):

    df1 = yf.download(
                    tickers = 'JSWSTEEL.NS',
                    start='2016-01-01',
                    #end=date.today().replace(day=2),
                    end = '2024-01-31',
                    interval = "1d",
                    threads=True,
                    group_by = 'ticker', 
                    progress=False
                )


    df1 = df1.reset_index()
    df1 = df1[['Date', 'Adj Close']]
    df1.columns = ['date', 'Price']
    df1['date']  = df1['date'].apply(lambda x: x.strftime('%Y-%m-%d'))
    dfc = pd.merge(df, df1)

    dfc.to_csv('stock_recom\\' + str(stock_id.split('.')[0]) +'.csv', index= False)



    


nse_df = pd.read_excel('nse_data.xlsx')
nse_df = nse_df.head(100)
nse_df['Symbol'] = [str(s) + '.NS' for s in nse_df['Symbol']]



for stock_id in list(set(nse_df['Symbol'])):
    try:
        df = pd.DataFrame(get_recoms(stock_id), columns=['date', 'recom'])
        write_df(stock_id, df)
    except:
        continue

1 Failed download:
['ICICIPRULI.NS']: Exception("%ticker%: Data doesn't exist for startDate = 1448562600, endDate = 1451586600")

1 Failed download:
['ICICIGI.NS']: Exception("%ticker%: Data doesn't exist for startDate = 1448562600, endDate = 1451586600")

1 Failed download:
['JSWSTEEL.NS']: ConnectionError(ProtocolError('Connection aborted.', RemoteDisconnected('Remote end closed connection without response')))

1 Failed download:
['AWL.NS']: Exception("%ticker%: Data doesn't exist for startDate = 1448562600, endDate = 1451586600")

1 Failed download:
['HDFCLIFE.NS']: Exception("%ticker%: Data doesn't exist for startDate = 1448562600, endDate = 1451586600")

1 Failed download:
['LICI.NS']: Exception("%ticker%: Data doesn't exist for startDate = 1448562600, endDate = 1451586600")

1 Failed download:
['TVSMOTOR.NS']: ConnectionError(ProtocolError('Connection aborted.', RemoteDisconnected('Remote end closed connection without response')))

1 Failed download:
['HDFC.NS']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2015-11-27 -> 2016-01-01)')

1 Failed download:
['WIPRO.NS']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2023-07-11 -> 2023-08-15)')

1 Failed download:
['TIINDIA.NS']: Exception("%ticker%: Data doesn't exist for startDate = 1448562600, endDate = 1451586600")

1 Failed download:
['ATGL.NS']: ReadTimeout(ReadTimeoutError("HTTPSConnectionPool(host='fc.yahoo.com', port=443): Read timed out. (read timeout=10)"))
Failed to get ticker 'APOLLOHOSP.NS' reason: HTTPSConnectionPool(host='fc.yahoo.com', port=443): Read timed out. (read timeout=30)

1 Failed download:
['APOLLOHOSP.NS']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['SBILIFE.NS']: ConnectionError(ProtocolError('Connection aborted.', RemoteDisconnected('Remote end closed connection without response')))

1 Failed download:
['HINDALCO.NS']: ReadTimeout(ReadTimeoutError("HTTPSConnectionPool(host='query2.finance.yahoo.com', port=443): Read timed out. (read timeout=10)"))

1 Failed download:
['HAL.NS']: Exception("%ticker%: Data doesn't exist for startDate = 1448562600, endDate = 1451586600")

1 Failed download:
['LTIM.NS']: Exception("%ticker%: Data doesn't exist for startDate = 1448562600, endDate = 1451586600")

1 Failed download:
['CHOLAFIN.NS']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2016-06-16 -> 2016-07-21)')

1 Failed download:
['VBL.NS']: Exception("%ticker%: Data doesn't exist for startDate = 1448562600, endDate = 1451586600")

1 Failed download:
['ADANITRANS.NS']: Exception('%ticker%: No timezone found, symbol may be delisted')

1 Failed download:
['SBICARD.NS']: Exception("%ticker%: Data doesn't exist for startDate = 1448562600, endDate = 1451586600")

1 Failed download:
['DMART.NS']: Exception("%ticker%: Data doesn't exist for startDate = 1448562600, endDate = 1451586600")

1 Failed download:
['ADANIGREEN.NS']: Exception("%ticker%: Data doesn't exist for startDate = 1448562600, endDate = 1451586600")

1 Failed download:
['IRCTC.NS']: Exception("%ticker%: Data doesn't exist for startDate = 1448562600, endDate = 1451586600")

In [4]:
#nse_df.tail(2)

,Sr. No.,Symbol,Company Name,"Market capitalization as on March 31, 2023\n(Rs in Lakhs)"
2012,2013,TECILCHEM.NS,TECIL Chemicals and Hydro Power Limited,189.637
2013,Note: Kindly refer regulation 15 to 27 of SEBI...,nan.NS,NaN,NaN

In [7]:
df = pd.read_csv('stocks\\JSWSTEEL.csv')
df.head(2)

         date  recom
0  2016-01-01     24
1  2016-01-04     21

In [36]:
df1 = yf.download(
                    tickers = 'JSWSTEEL.NS',
                    start='2016-01-01',
                    #end=date.today().replace(day=2),
                    end = '2024-01-31',
                    interval = "1d",
                    threads=True,
                    group_by = 'ticker', 
                    progress=False
                )


df1 = df1.reset_index()
df1 = df1[['Date', 'Adj Close']]
df1.columns = ['date', 'Price']
df1['date']  = df1['date'].apply(lambda x: x.strftime('%Y-%m-%d'))

         date      Price
0  2016-01-01  87.995926
1  2016-01-04  89.512520

In [37]:
pd.merge(df, df1)

            date  recom       Price
0     2016-01-01     24   87.995926
1     2016-01-04     21   89.512520
2     2016-01-05     14   92.802711
3     2016-01-06     30   90.669212
4     2016-01-07     46   87.940239
...          ...    ...         ...
1988  2024-01-23     53  790.400024
1989  2024-01-24     47  812.200012
1990  2024-01-25     16  815.700012
1991  2024-01-29     50  811.700012
1992  2024-01-30     42  812.000000

[1993 rows x 3 columns]